{{> savedMiddle}}
<div class="section grey lighten-2 news">
    <div class="row container-fluid">
        {{#if news}}
        {{#each news}}
        <a class="links" href={{this.link}}>
            <div class="col s12 l3 savedNews">
                <div class="card large hoverable">
                    <div class="card-image">
                        <img src={{this.image}}>
                    </div>
        </a>
        <div class="card-content">
            <a href={{this.link}}>
                <h6 class="title"><strong>{{this.title}}</strong></h6>
            </a>
            <p class="body">{{this.body}}</p>
            <div class="card-action">
                <a class="waves-effect waves-red btn notes modal-trigger" href="#modal1" data-id={{this._id}}>Notes</a>
                <a class="waves-effect waves-red btn deleteSaved" data-id={{this._id}}>Delete from saved</a>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{else}}
<div class="section grey lighten-2 bottomFront">
    <div class="container-fluid center">
        <div class="row">
            <h3>There seems to be no saved news! <br> go back to the home page!</h3>
        </div>
        <div class="row">
            <a class="waves-effect waves-red btn scraped">Scrapper</a>
        </div>
    </div>
</div>
{{/if}}
{{>noteModal}}